nav{height:15vh;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:.8rem 0;margin:0}
nav ul li{margin:0 .8rem}
.text-container{margin-top:20%!important}
.text-container #title{font-size:2.4rem}
.text-container #sub-title{font-size:1.5rem}
.text-container #para{width:90%}